body {
	font: 16px "Century Gothic", Futura, sans-serif;
	margin: 4.2%;
  }
  
  ol, ul {
	padding-left: 30px;
  }
  
  .board-row:after {
	clear: both;
	content: "";
	display: table;
  }
  
  .status {
	margin-bottom: 10px;
  }
  
  .square {
	background: #fff;
	border: 1px solid #999;
	float:left;
	font-size: 36px;
	font-weight: bold;
	line-height: 54px;
	height: 54px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 54px;
  }

  .winningSquare {
	  background: rgb(81, 196, 5);
  }
  
  .square:focus {
	outline: none;
  }
  
  .kbd-navigation .square:focus {
	background: #ddd;
  }
  
  .game {
	display: flex;
	flex-direction: row;
  }
  
  .game-info {
	margin-left: 20px;
  }

  .selected {
	  font-weight: bold;
  }
  

  .boardCords {
	display: flex;
	flex-direction: row;
}

  .flexible {
	margin-left: 1em;
	margin-right: 2em;
  }

  .letterCords {
	  margin-right: 3.1em;
  }

  .numberCords {
	font-size: 16px;
  }


 .container {
	  /* margin-left: 5%;
	  margin-right: 5%; */
	  /* padding-right: 8%; */
	  padding-left: 12%;
  }

  .flipOrder {
	  margin-top: 20px;
	  padding-top: 20px;
  }

  .titleContainer {
	  text-align: center;
	  text-decoration: underline rgb(81, 196, 5);
	  letter-spacing: 0.1rem;
	  font-size: 2rem;
	  text-transform: lowercase;
	  margin-bottom: 10px;
  }

  .title {
	  margin-bottom: -8px;
  }

  .title-descrip {
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 0.1rem;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
}

h1 {
	  margin-bottom: 20%;
	}
	
#time {
	font-style: italic;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
}